<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <style>
      #map {
        height: 400px;
        width: 100%;
       }
    </style>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="/javascripts/map.js"></script>
  </head>
  <body>
    {{{body}}}
  </body>
</html>
